.h3-title{
	font-size: 36px;
	color: #155aa7;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}
.bl-table{
	display: table;
	width: 100%;
}
.bl-table-center{
	display: table;
	margin: 0 auto;
}
.bl-banner{
	position: relative;
}
.bl-banner .bl-text{
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -444px;
}
.bl-banner .bl-text h1{
	font-size: 42px;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #ef7323;
	margin-bottom: 15px;
}
.bl-banner .bl-text a{
	color: #fff;
	font-size: 27px;
	font-weight: 500;
	text-align: center;
	background-color: #ef7323;
	width: 250px;
	display: inline-block;
	height: 52px;
	float: left;
    padding-top: 8px;
    position: relative;
}
.bl-banner .bl-text a.a-hotline{
	background-color: #155aa7;
	text-align: right;
    padding-right: 10px;
}
.bl-banner .bl-text a.a-hotline:before{
	content: '';
	display: inline-block;
	width: 52px;
	height: 52px;
	background: url('/assets/images/landing-page/landingpage-v2/ic-phone.png') no-repeat center;
	position: absolute;
	left: 0;
	top: 0;
	background-size: 60% auto;
}
.bl-slogan{
	padding: 30px 0;
}
.bl-bds .h3-title{
	padding: 30px 0;
	margin: 10px 0;
	color: #ef7323;
}
.bl-bds .nav-tabs{
	border: 0;
	margin-bottom: 20px;
	border-left: 1px solid #939393;
}
.bl-bds .nav-tabs>li>a{
	text-transform: uppercase;
	font-size: 22px;
	color: #fff;
	font-weight: 400;
	background-color: #cecece;
	margin-right: 0;
	border-radius: 0;
	border: 1px solid #939393;
	border-left: 0;
	padding: 5px 25px 3px;
}
.bl-bds .nav-tabs>li.active>a, .bl-bds .nav-tabs>li.active>a:focus, .bl-bds .nav-tabs>li.active>a:hover{
	background-color: #ef7323;
	color: #fff;
	border: 1px solid #ef7323;
	margin-left: -1px;
}


.bl-bds .bl-listing{
	margin: 20px 0;
}
.bl-bds .bl-listing .bl-price .span-price{
	color: #ef7323;
}
@media(max-width: 768px){
	.h3-title{
		font-size: 30px;
	}
	.bl-bds .h3-title{
		padding: 15px 0;
	}
	.bl-banner .bl-text h1{
		font-size: 34px;
	}
	.bl-banner .bl-text{
		margin-left: -360px;
	}
	.bl-bds .nav-tabs{
		margin-bottom: 10px;
	}
	.bl-bds .nav-tabs>li>a{
		font-size: 18px;
		padding-left: 22px;
		padding-right: 22px;
	}
}