#bl-header-mobile{
    display: none;
}
.bl-my-account .bl-listings .p-posted{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	color: #474747;
	font-weight: 600;
	margin-bottom: 10px;
}
.div-upload{
	height: 200px;
	overflow: hidden;
}
.div-upload img{
	object-fit: cover;
}
.bl-my-account .bl-listings .p-posted span{
	color: #1c5eab;
}
.bl-my-account .bl-button-group .btn{
	background-color: transparent;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-right: 0;
    background-image: url('/assets/images/svg-icons.svg?v=03.06.2019');
}
.bl-my-account .bl-button-group .btn-share{
	background-position: -14px -414px;
}
.bl-my-account .bl-button-group .btn-edit{
	background-position: -111px -414px;
}
.bl-my-account .bl-button-group .btn-recycle{
	background-position: -61px -414px;
}
#popup-create-collection.modal-popup:before{
	height: 11%;
}
#popup-create-collection .h4-title{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: #474747;
	text-align: center;
	margin: 20px 0;
}
#popup-create-collection .form-control{
	font-size: 14px;
	color: #676767;
}
#popup-create-collection.modal-login .div-collection{
	padding-bottom: 5px;
}
#popup-create-collection.modal-login .div-collection:before {
    background-position: -273px -416px;
    height: 20px;
    top: 9px;
}
#popup-create-collection.modal-login .div-introduce .form-control{
	padding-left: 0;
}
#popup-create-collection .div-upload a {
    display: inline-block;
    height: 158px;
    width: 100%;
    border: 1px dashed #d1d1d1;
    font-size: 13px;
    color: #474747;
    padding-top: 100px;
    text-align: center;
    margin-top: 10px;
    position: relative;
}
#popup-create-collection .div-upload a:before {
    content: '';
    display: inline-block;
    width: 70px;
    height: 60px;
    background: url('/assets/images/svg-icons.svg?v=03.06.2019') no-repeat -315px -414px transparent;
    position: absolute;
    top: 35px;
    left: 50%;
    margin-left: -35px;
}
#popup-create-collection.modal-login .btn-login{
	margin: 25px 0;
	height: 45px;
	font-weight: 500;
}
#popup-create-collection .form-group{
	margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
#popup-collection-listing.modal-login .modal-body{
	padding: 0;
}
#popup-collection-listing.modal-login .modal-content{
	border-radius: 0;
}
#popup-collection-listing.modal-login .close{
	background: url('/assets/images/version-4/icons/ic-close-3.png') no-repeat left center;
	width: 18px;
	height: 18px;
	top: 22px;
}
.bl-collection-listing .bl-header-tab{
	border-bottom: 1px solid #d1d1d1;
	padding-left: 25px;
	position: relative;
}
.bl-collection-listing .bl-header-tab h3{
	font-weight: 500;
	font-size: 18px;
	color: #474747;
	margin-bottom: 5px;
	font-family: 'Roboto', sans-serif;
	padding-top: 22px;
}
.bl-collection-listing .bl-header-tab p{
	font-size: 14px;
	color: #888;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 7px;
}
.bl-collection-listing .bl-listings .media{
	padding: 20px 10px 20px 25px;
	border-bottom: 1px solid #d1d1d1;
	margin-top: 0;
}
.bl-collection-listing .bl-listings .media-left{
	width: 221px;
	height: 137px;
	border-radius: 4px;
	position: relative;
	padding-right: 0;
}
.bl-collection-listing .bl-listings .media-left .div-text{
	font-size: 13px;
	color: #fff;
	background-color: #155aa9;
	position: absolute;
	top: 0;
	left: 0;
	width: 83px;
	height: 48px;
	padding: 2px 0 0 10px;
	border-top-left-radius: 4px;
}
.bl-collection-listing .bl-listings .media-left .div-text:after{
	content: '';
	display: inline-block;
	position: absolute;
	right: -18px;
	top: 0;
	width: 18px;
	height: 48px;
	background: url('/assets/images/version-4/bg-rose.png') no-repeat center;
}
.bl-collection-listing .bl-listings .media-left .div-text p{
	margin-bottom: 0;
	line-height: 19px;
}
.bl-collection-listing .bl-listings .media-left .div-text .p-rose{
	font-weight: bold;
	font-size: 18px;
}
.bl-collection-listing .bl-listings .media-body{
	padding-left: 15px;
	color: #676767;
	position: relative;
}
.bl-collection-listing .bl-listings .media-heading{
	font-size: 22px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 3px;
}
.bl-collection-listing .bl-listings .p-price{
	font-size: 22px;
}
.bl-collection-listing .bl-listings .p-price b{
	font-weight: 900;
}
.bl-collection-listing .bl-listings .p-district{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 22px;
}
.bl-collection-listing .div-type{
	border-radius: 4px;
	border: 1px solid;
	height: 30px;
	padding: 4px 12px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	right: 20px;
	top: 40px;;
}

.bl-collection-listing .div-type.sell{
	color: #f17423;
	border-color: #f17423;
}
.bl-collection-listing .div-type.lease{
	color: #155aa9;
	border-color: #155aa9;
}
.bl-collection-listing .bl-listings{
	padding-bottom: 50px;
}

.div-listing-collection{
	padding: 20px 10px;
}
.div-listing-collection .bl-listings{
	margin-bottom: 22px;
}
.div-listing-collection .bl-listings img{
	width: 100%;
	height: 200px;
}
.div-listing-collection .title-listing{
	font-weight: normal;
	font-size: 15px;
	color: #676767;
}
.div-listing-collection .title-listing b{
	font-weight: 500;
}
.bl-my-account .div-listing-collection .bl-listings .p-posted{
	font-weight: 500;
	padding-top: 8px;
}
.bl-my-account .div-listing-collection .bl-listings .p-posted b{
	font-weight: bold;
}
.div-listing-collection .div-info-listing{
	padding: 3px 10px 5px;
	border: 1px solid rgba(213,213,213,.5);
	border-top: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	position: relative;
}
.div-listing-collection .bl-button-group{
	position: absolute;
	right: 5px;
	bottom: 10px;
}
.header-collection .bl-image{
	position: relative;
    border-bottom: 1px solid #d1d1d1;
}
.header-collection .bl-image img{
	width: 100%;
	height: 205px;
}

.header-collection .bl-image .a-upload{
	display: inline-block;
	position: absolute;
	width: 95px;
	height: 95px;
	background: url('/assets/images/version-4/upload-img.png') no-repeat center;
	top: 50px;
	left: 50%;
	margin-left: -47px;
}
.header-collection .bl-image .desicription p{
	font-size: 15px;
	color: #676767;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 15px 10px;
}
.header-collection .bl-image .desicription h3{
	font-size: 15px;
	font-weight: 500;
	color: #676767;
	background-color: #f1f1f1;
	padding: 20px 10px 18px;
	margin: 0;
}
.header-collection .bl-image .desicription h3 a{
	border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #5d5d5d;
    background-size: 15px auto;
    background: url('/assets/images/version-4/icons/ic-edit.png') no-repeat center transparent;
    position: absolute;
    right: 10px;
    top: 12px;
}

.header-collection .title-posted{
	font-size: 15px;
	font-weight: 500;
	color: #676767;
	background-color: #f1f1f1;
	padding: 20px 10px;
}
.col-dropdown .a-dropdown {
    display: inline-block;
    background: url('/assets/images/version-4/icons/ic-dropdown.png') no-repeat 20px center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 15px;
}
.col-dropdown .dropdown-menu {
    width: 30%;
    border: 0;
    top: 50px;
    padding: 8px 0;
    box-shadow: 0 1px 4px rgba(141,141,141,.45);
    right: 10px;
}
.col-dropdown .dropdown-menu:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('/assets/images/version-4/icons/arrow-dropdown.png') no-repeat center;
    position: absolute;
    top: -14px;
    right: 10px;
}
.col-dropdown .dropdown-menu li {
    text-align: right;
}
.col-dropdown .dropdown-menu li a {
    color: #616161;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 8px 20px;
}
.header-collection .bl-listing{
	margin: 20px 10px;
}

.bl-content-love {
    padding: 20px 10px 30px;
}

.bl-content-love .bl-listing{
	margin-bottom: 20px;
}
.p-list-love{
    font-weight: 500;
    font-size: 15px;
}
.title-listing a {
    color: #676767;
}
.header-collection .aler {
    margin: 10px;
}
#schedule-collection {
    padding: 25px;
}
.title-cart {
    text-align: center;
    margin: 15px 0px;
}
.send-collection {
    width: 100%;
    background-color: #f17423  !important;
    color: #fff;
    font-size: 14px;
    padding: 10px 12px;
    margin: 10px 0 20px;
    height: 47px;
    border-radius: 40px;
}
.bl-info-customer .panel-default>.panel-heading{
    background-color: #f2f2f2;
    border-color: #e8e8e8;
    padding: 10px;
}
.bl-info-customer .panel-default>.panel-heading a {
    display: block;
    color: #676767;
    font-weight: 400;
    font-size: 15px;
    position: relative;
}
.bl-info-customer .panel-default>.panel-heading .panel-title{
    position: relative;
    padding-left: 32px;
}
.bl-info-customer .panel-default>.panel-heading .panel-title:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    background-image: url(/assets/images/svg-icons.svg?v=03.06.2019);
}
.bl-info-customer .panel-default> #headingOne.panel-heading .panel-title:before{
    background-position: -1097px -814px;
    top: -9px;
}
.bl-info-customer .panel-default> #headingTwo.panel-heading .panel-title:before{
    background-position: -1148px -814px;
    top: -7px;
}
.bl-info-customer .panel-title>a[aria-expanded="false"]:before, .bl-info-customer .panel-title>a[aria-expanded="true"]:before {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    color: #676767e6;
    position: absolute;
    right: 0;
    top: -1px;
    font-size: 20px;
    font-weight: 500;
}
.bl-info-customer .panel-title>a[aria-expanded="false"]:before {
    content: '\f107';
}
.bl-info-customer .panel-title>a[aria-expanded="true"]:before {
    content: '\f106';
}
.bl-info-customer .panel-default>.panel-heading+.panel-collapse>.panel-body{
    border: 0;
    background-color: #f2f2f2;
}
.bl-calendar .p-title{
    font-size: 18px;
    color: #676767;
    text-align: center;
}
.bl-calendar .row{
    margin: 0 -5px;
}
.bl-calendar .col-50{
    width: 48.5%;
}
.bl-calendar .col-50:first-child{
    margin-right: 3%;
}
.bl-calendar .p-sort{
    font-size: 13px;
    color: #a8a8a8;
    text-align: center;
    margin-bottom: 0;
}
.bl-calendar .bl-time {
    color: #676767;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 0 5px;
}
.bl-calendar .bl-time p.p-date {
    border-bottom: 1px solid #bfbfbf;
}
.bl-calendar .bl-time p {
    text-align: center;
    margin-bottom: 0;
}
.bl-calendar .block-date{
    border: 1px solid #e4e4e4;
    background: #fff;
    padding: 5px;
}
.bl-calendar .block-date.active{
    box-shadow: 0 2px 4px rgba(195,195,195,.35);
}
.bl-calendar .block-date.active .bl-time{
    color: #f17423
}
.bl-calendar {
    position: relative;
}
.bl-calendar .form-control{
    border: 2px solid #eee;
    height: 38px;
}
.bl-calendar .a-arrow{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    width: 12px;
    height: 24px;
    position: absolute;
    bottom: 45px;
}
.bl-calendar .a-arrow.prev{
    background-image: url('/assets/images/version-4/icons/arrow-cal-prev.png');
    left: 3px;
}
.bl-calendar .a-arrow.next{
    background-image: url('/assets/images/version-4/icons/arrow-cal-next.png');
    right: 3px;
}
@media (min-width: 768px){
	#popup-collection-listing.modal-login .modal-dialog {
	    width: 900px;
	    margin: 30px auto;
	}
}
