
.sec-cta .item .title {
    margin-top:0;
}
.btn-5:hover {
    color:#fff;
}
#header .btn:active, #header .btn:hover {
    background-color: #0f6a9d !important;
    border: 1px solid #0f6a9d !important;
}
#footer .searchform button {
    z-index:5;
}
.propzy-newsletter.show-text {
    display: block !important;
}
#footer .propzy-newsletter {
    margin-top: 5px;
    padding-left: 5px;
    color: red;
    font-size: 12px;
}
#footer .blog-item-social a:hover {
    color: #EF7733 !important;
}
#loadding-ajax{
    display: none;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #00000090;
    z-index: 9999;
    padding-top: 20%;
    text-align: center;
    font-size: 16px;
}

#loadding-ajax>.text{
    margin-top: 10px;
    color: #fff;
}
#loadding-ajax>img{
    display: inline-block;
}
/* bootstrap old - modal, validate */
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #a94442;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
.modal-popup {
    text-align: center;
    padding: 0!important;
}
.modal-popup:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
.modal-popup .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-popup .close {
    opacity: 1;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 20px;
    height: 20px;
    background: url('/assets/images/svg-icons.svg?v=03.06.2019') no-repeat -185px -11px transparent;
    z-index: 10;
}
.modal-popup .modal-content{
	border: 0;
	border-radius: 0;
	box-shadow: none;
}
.modal-popup .modal-content:before{
    background: rgba(241,117,35,1);
    background: -moz-linear-gradient(left, rgba(241,117,35,1) 0%, rgba(241,117,35,0.94) 20%, rgba(0,103,221,0.72) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,117,35,1)), color-stop(20%, rgba(241,117,35,0.94)), color-stop(100%, rgba(0,103,221,0.72)));
    background: -webkit-linear-gradient(left, rgba(241,117,35,1) 0%, rgba(241,117,35,0.94) 20%, rgba(0,103,221,0.72) 100%);
    background: -o-linear-gradient(left, rgba(241,117,35,1) 0%, rgba(241,117,35,0.94) 20%, rgba(0,103,221,0.72) 100%);
    background: -ms-linear-gradient(left, rgba(241,117,35,1) 0%, rgba(241,117,35,0.94) 20%, rgba(0,103,221,0.72) 100%);
    background: linear-gradient(to right, rgba(241,117,35,1) 0%, rgba(241,117,35,0.94) 20%, rgba(0,103,221,0.72) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f17523', endColorstr='#0067dd', GradientType=1 );
    content: '';
    display: inline-block;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
}
.modal.in .modal-dialog {
    box-shadow: 0px 0px 20px -5px #000;
    -webkit-box-shadow: 0px 0px 20px -5px #000;
    -ms-box-shadow: 0px 0px 20px -5px #000;
    -o-box-shadow: 0px 0px 20px -5px #000;
}
body > .modal-backdrop.in {
    opacity: .7;
}
/*c*/
.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.autocomplete-suggestions {
    width: 100%;
    margin-top: 12px;
    max-height: 300px;
    z-index: 9999;
}
.index .autocomplete-suggestions {
    width: 100%;
    max-height: 300px;
	z-index: 9999;
	padding: 16px;
}
.filter-house .topfilter{
    overflow: inherit !important;
}
.search-keyword-container{
    z-index: 6 !important;
}

[class*=cttab]>.content-filter-search {
    min-height: 1px;
    position: relative
}

[class*=cttab]>.content-filter-search>div {
    z-index: 0;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}
[class*=cttab]>.content-filter-search>div.active {
    z-index: 5;
    opacity: 1;
    visibility: visible;
    max-height: inherit;
    position: relative
}
[class*=cttab]>.content-filter-search>div.tab-map .tab-inner {
    padding-bottom: 0!important
}
.acordion-detail>.tab>.content-filter-search {
    display: none
}
.acordion-detail>.tab>.content-filter-search {
    padding: 15px 0;
    border-top: 1px solid #EDEDED
}
.sec-h-1 [class*=cttab]>.content-filter-search>div {
    overflow: visible
}
.sec-h-3 [class*=cttab]>.content-filter-search>div {
    overflow: visible
}
.filter-house>.content-filter-search {
    position: absolute;
    display: none;
    left: 0;
    right: 0
}

.filter-house>.content-filter-search>div {
    overflow: visible
}
@media only screen and (max-width:767px) {
    .acordion-detail>.tab>.content-filter-search {
        padding-left: 0;
        padding-right: 0
    }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

/* Style for dropdown menu  */
#dropdownMenuButton {
  position: relative;
  padding-right: 20px;
}
#dropdownMenuButton[aria-expanded="true"]:after {
    content: '\f106';
}
#dropdownMenuButton:after {
  content: '\f107';
  display: inline-block;
  font: normal normal normal 18px/1 FontAwesome;
  margin-left: 2px;
  color: #EF7733;
  position: absolute;
  font-size: 22px;
  top: 15px;
}
.open>.dropdown-menu {
  display: block;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.linktoBank:hover .s2 {
  color: #ef7733 !important;
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.widget-content.btn-search-sidebar{
    margin-top: -40px;
}

#email-subcribe .help-block {
	position: absolute;
    top: -6px;
}
.filter-house .action-footer .input {
  width: 300px !important;
}
.search .filter-house .search-text{
    height: 40px !important;
}
.search .filter-house .padding-status{
    padding-top: 5px !important;
}
.list-layout-0 .divtext {
    padding-right: 8px !important;
    padding-left: 8px !important;
}
.sec-h-1 .list-layout-0 .item .wprice {
    left: 11px !important;
    right: 11px !important;
}
.list-layout-0 .imeta-1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.form-tuvan input::placeholder {
  color: #acacac;
}
#popup-select-collection .bl-radio {
    padding-top: 5px;
}
#popup-select-collection .bl-radio input[type="radio"] {
    opacity: 0;
}
#popup-select-collection .bl-radio label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    color: #676767;
    font-family: 'Open Sans', sans-serif;
}
#popup-select-collection .bl-radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -15px;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
#popup-select-collection .bl-radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 9px;
    height: 9px;
    left: 4px;
    top: 4px;
    margin-left: -15px;
    border-radius: 50%;
    background-color: #9e9e9e;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
#popup-select-collection .bl-radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
#gallery.boxwidget .widget-title {
  padding-bottom: 35px;
}
#gallery.boxwidget {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.grid-space-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.active.tvModal {
  z-index: 1049 !important;
}
.my-account-page {
  padding-top: 0 !important;
}
.bl-my-account {
  margin: 0 0 50px !important;
}
.disabled-rented {
  pointer-events: none;
  opacity: .4;
}
.hide-rented {
  display: none;
}
.captcha-space {
    margin-bottom: 15px;
}
.filter-house-subpage .filter-house-inner {
    margin-top: 15px;
}
/*fix row on ipad pro 12 by JSP*/
.row:before, .row:after { display: flex !important; }

section.sec-tb.sec-h-7.bg-white.group-ef.loaded {
	padding: 32px 0px;
}
.topfilter .property_type, #select-type-price{
    border: none;
}
.search-listing {
    margin-top: 12px;
}
.filter-house .select{
    color: #555555;
}

/* modal contactModal */
#contactModal .form-control {
  height:40px;
  border:1px solid #ECECEC;
  box-shadow:none;
}
.form-contact.active.myModal {
  z-index: 9999;
}