.training-page{
	background: #fff;
	padding: 20px 10px 30px;
}
.training-page .title-training{
	text-align: center;
	color: #363636;
	font-size: 22px;
	margin: 10px 0 30px;
	font-weight: normal;
}
.bl-step {
	display: table;
	margin: 0 auto;
	color: #474747;
}
.bl-step .nav-tabs{
	display: table;
	margin: 0 auto;
	position: relative;
	border-bottom: 0;
	width: 100%;
}
.bl-step .nav-tabs:before{
	content: '';
	display: inline-block;
	width: 100%;
	height: 42px;
	background-color: #e9e9e9;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 40px;
}
.bl-step .nav-tabs>li{
	width: 50%;
}
.bl-step .nav-tabs>li.active{
	width: 50%;
}
.bl-step .nav-tabs>li>a{
	background-color: #e9e9e9;
	font-size: 14px;
	color: #000;
	width: 100%;
	height: 42px;
	border-radius: 40px;
	padding: 2px 7px;
	margin-right: 0;
	pointer-events: none;
}
.bl-step .nav-tabs>li>a:hover, .bl-step .nav-tabs>li.active>a:hover{
	cursor: default;
	border: transparent;
	padding-top: 7px;
	padding-left: 8px;
}
.bl-step .nav-tabs>li.active>a:hover{
	padding-left: 7px;
}
.bl-step .nav-tabs>li.active>a{
	background-color: #126eda!important;
	color: #fff;
	border: 0;
	z-index: 5;
	height: 46px;
	margin-top: -2px;
	padding-top: 1px;
    padding-left: 4px;
}

.bl-step .nav-tabs>li.active>a:after{
	bottom: 0;
}
.bl-step .nav-tabs>li>a span{
	background-color: #989898;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	border-radius: 50%;
	height: 36px;
	width: 36px;
	display: inline-block;
	text-align: center;
	padding-top: 8px;
	position: absolute;
	top: 2px;
}
.li-step-2 span, .li-step-3 span {
    position: relative !important;
    top: 0px !important;
    margin-right: 4px;
}
.li-step-2 span {
    margin-left: -3px;
}
.li-step-2.active span{
    margin-left: 0px;
}
.bl-step .nav-tabs>li.active>a span{
	background-color: #fff!important;
	color: #126eda!important;
	height: 40px;
	width: 40px;
	padding-top: 6px;
	position: relative;
	font-size: 20px;
	margin-right: 5px;
    top: 2px !important;
}
.bl-step .nav-tabs>li.step-pass a{
	background-color: #e9e9e9;
}
.bl-step .nav-tabs>li.li-step-2.step-pass a{
	background-color: #cdcdcd;
	width: 280px;
	padding-top: 0;
    padding-left: 4px;
}

.bl-step .nav-tabs>li.step-pass>a span{
	background: url('/assets/images/version-4/icons/ic-check.png') no-repeat 16px center #989898;
    position: relative;
    color: #fff;
    background-size: 12px auto;
    text-align: left;
    padding-left: 6px;
}

.bl-step .tab-content>.tab-pane{
	color: #474747;
}
.bl-step #step-2 .row{
	margin: 0 0 25px;
}
.bl-step #step-2 .p-text{
	font-size: 15px;
	padding-bottom: 15px;
	text-align: justify;
	padding-top: 30px;
}
.bl-step #step-2 .bl-form select.form-control{
	height: 38px;
	font-family: 'Roboto', sans-serif;
}
.bl-step #step-2 .btn-filter{
	width: 100%;
	border-radius: 30px;
	background-color: transparent;
	font-weight: bold;
	font-size: 15px;
	color: #f17423;
	height: 45px;
	margin-top: 10px;
	border: 1px solid #f17423;
}

.bl-step #step-2 .btn-continue{
	height: 46px;
	width: 90%;
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	background-color: #f17423;
	border-radius: 30px;
	position: fixed;
    bottom: 85px;
    margin: 0 auto;
    text-align: center;
    display: block;
    right: 20px;
    z-index: 2;
}
.bl-step #step-2 .p-benefit a{
/*	background: url('/assets/images/version-4/icons/mobile/ic-question.png') no-repeat left 3px;*/
	background-size: 9px auto;
	font-size: 15px;
	color: #f17423;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
/*	padding-left: 15px;*/
	border-bottom: 1px solid #f17423;
	line-height: 19px;
    margin-bottom: 0px;
    margin-top: 30px;
}
.bl-step #step-3{
	text-align: center;
	color: #474747;
}
.bl-step #step-3 .p-thanks{
	font-size: 15px;
	margin-bottom: 25px;
	padding: 30px 0 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}
.bl-info-training {
	font-size: 13px;
}
.bl-info-training span{
	font-weight: bold;
}
.bl-step #step-3 .p-update a{
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #f17423;
	color: #f17423;
	display: inline-block;
	margin: 20px 0;
	font-weight: 500;
}
.bl-step #step-3 .p-note{
	font-size: 14px;
	color: #676767;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	margin-bottom: 22px;
}
.bl-step #step-3 .btn, .send-check-phone{
	height: 46px;
	width: 90%;
	color: #fff!important;
	font-size: 15px;
	font-weight: 500;
	background-color: #f17423;
	border-radius: 30px;
	margin: 10px 0;
}
.bl-step #step-3 .btn.btn-back{
	background-color: transparent;
	color: #676767;
	border: 1px solid #969696
}
.div-filter{
	display: none;
}
.btn-text-filter{
	background: url('/assets/images/version-4/icons/mobile/ic-select-2.png') no-repeat center right transparent;
	font-size: 15px;
	color: #676767;
	background-size: 14px auto;
	margin: 0 auto;
    display: table;
    padding-right: 20px;
}
.form-filter{
	background-color: #f9f9f9;
	border-radius: 4px;
	padding: 10px 15px;
}
.form-filter select.form-control{
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	background: url('/assets/images/version-4/icons/mobile/ic-select-2.png') no-repeat 96% center #fff;
	background-size: 14px auto;
	margin-bottom: 5px;
}
.bl-content-training{
	border: 1px solid #e0e0e0;
	margin-top: 25px;
	border-radius: 3px;
}
.bl-content-training .form-group{
	border-bottom: 1px solid #e0e0e0;
	margin: 0;
	padding: 12px 15px
}
.bl-content-training .form-group:last-child{
	border-bottom: 0;
}
.bl-content-training label{
	font-size: 15px;
}
.bl-content-training .label-info{
	background-color: transparent;
	text-align: right;
	font-weight: normal;
	color: #676767;
	font-family: 'Open Sans', sans-serif;
}
.bl-content-training .label-info a{
	color: #f17423;
	border-bottom: 1px solid #f17423;
}
.bl-content-training .control-label{
	text-align: left;
	font-weight: 500;
}
.bl-content-training .btn{
	border: 1px solid #969696;
	color: #676767;
	font-size: 15px;
	font-weight: 500;
	width: 90%;
	background-color: transparent;
	height: 45px;
	border-radius: 40px;
	margin: 5px 0 10px;
}
.bl-content-training .btn.btn-register{
	border: 1px solid #f17423;
	color: #f17423;
}
.bl-content-training .col-button .p-registered{
	background: url('/assets/images/version-4/icons/mobile/ic-check.png') no-repeat left center;
	color: #676767;
	background-size: 17px auto;
	font-size: 15px;
	display: table;
	margin: 0 auto;
	padding-left: 25px;
}
.bl-step #step-3 .bl-content-training{
	border: 0;
}
.bl-step #step-3 .bl-content-training .form-group{
	border-bottom: 0;
}
.bl-step #step-3 .bl-content-training .col-xs-12{
	padding: 5px 0;
}
#popup-benefit-agent img {
    max-width: 100%;
}

.bl-otp{
	background-color: #f1f4f5;
}
.form-otp{
	background: #fff;
	border-radius: 4px;
	margin: 10px auto 10px;
	position: relative;
	padding-bottom: 20px;
}

.form-otp h2{
	font-size: 28px;
	color: #474747;
	font-weight: normal;
	margin-bottom: 20px;
}
.form-otp .p-send{
	font-size: 13px;
	color: #474747;
	font-family: 'Open Sans', sans-serif;
}
.form-otp .p-import{
	font-size: 13px;
	color: #474747;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	padding-top: 8px;
}
.form-otp .otp-item{
	border: 0;
	border-bottom: 2px solid #e3e3e3;
	width: 38px;
	margin-right: 5px;
	font-size: 28px;
	text-align: center;
	color: #676767;
}
.form-otp #confirm-otp{
	display: inherit;
	background-color: #f17423;
	font-weight: bold;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	border: 0;
	box-shadow: none;
	border-radius: 40px;
	height: 45px;
	width: 155px;
	color: #fff;
	margin: auto;
	margin-top: 40px;
}
.form-otp .p-re-send{
	font-size: 13px;
	color: #474747;
	font-family: 'Open Sans', sans-serif;
	padding-top: 25px;
}
.form-otp .p-re-send a{
	color: #f17423;
	background: url('/assets/images/version-4/icons/ic-refresh.png') no-repeat right center transparent;
	padding-right: 15px;
}

#form-check-phone .form-control {
	border: 0;
	border-bottom: 1px solid #d1d1d1;
	border-radius: 0;
	box-shadow: none;
	font-size: 13px;
	height: 38px;
	padding-left: 33px;
}
#form-check-phone .div-phone, #form-check-phone .div-fullname{
	margin-bottom: 10px;
	position: relative;
}
#form-check-phone .div-phone:before{
	content: '';
	display: inline-block;
	width: 25px;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	left: 0;
	background-image: url(/assets/images/svg-icons.svg?v=03.06.2019);
	background-position: -950px -84px;
	height: 25px;
	top: 6px;
}

#form-check-phone .div-fullname:before{
	content: '';
	display: inline-block;
	width: 25px;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
	left: 0;
	background-image: url(/assets/images/svg-icons.svg?v=03.06.2019);
	background-position: -922px -80px;
	height: 25px;
	top: 4px;
}
.btn.btn-back.back-2 {
    background-color: #969696 !important;
}
.bl-button.text-center {
    margin-bottom: 20px;
}
.bl-step #step-3 .p-note{
    margin-bottom: 10px;
}
#popup-benefit-agent .modal-content{
	padding: 0 30px;
}