* {
    -webkit-overflow-scrolling: touch;
}
html, body{
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
.title-h2, .title-h2 a {
    font-size: 20px;
    text-align: center;
    color: #363636;
    font-weight: bold;
}
.bl-title {
    display: table;
    width: 100%;
}
.bl-title .a-readmore {
    float: right;
    display: inline-block;
    color: transparent;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
}
.bl-title .a-readmore:after {
    content: '\f105';
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    margin-left: 10px;
    color: #f17423;
    font-weight: 600;
}
.bl-search{
    padding: 0 10px 45px;
    text-align: center;
    height: 320px;
    position: relative;
}
.bl-search.not-slider {
    background: url('/assets/modules/mobile-home/images/version-4/banner.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.background-slider, .bl-slider-home, .block-image-slider {
    height: 320px;
    overflow: hidden;
}
.bl-search h1 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin: 3px 0 18px;
    /*text-align: left;*/
}
.bl-search .bl-center{
    padding: 5% 0 0;
    width: 100%;
    z-index: 1;
    position: relative;
}
.bl-select-search {
    position: relative;
}
.bl-select-search .bl-radio {
    position: absolute;
    top: 0;
    left: 0;
}
.bl-select-search .bl-radio .btn-select {
    width: 88px;
    height: 50px;
    font-size: 15px;
    color: #747474;
    font-family: 'Open Sans', sans-serif;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/images/version-4/icons/ic-select-5.png) no-repeat 82% 22px #e3e3e3;
    padding: 5px 18px;
}
.bl-select-option {
    position: relative;
}
.bl-select-search .select-search{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 0;
    color: #999;
    border-color: #e1e1e1;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 6px 12px;
}
.bl-select-search .btnsearch {
    height: 50px;
    color: transparent;
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #a4a4a4;
    width: 60px;
    background-color: #f17423;    
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.toogle-dropdown-seach:after{
    right: 70px!important;
}
.bl-select-search .btnsearch:before{
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    left: 15px;
    width: 25px;
    height: 25px;
    background: url(/assets/images/svg-icons.svg?v=03.06.2019) no-repeat -967px -1132px transparent;
}
.bl-select-search .img-select{
    background: url('/assets/images/version-4/icons/ic-select-5.png') no-repeat center;
    width: 20px;
    height: 50px;
    position: absolute;
    right: 18%;
    top: 0;
    transform: translate(0%,2%);
}
.bl-propzy-1{
    position: relative;
    background-color: #fff;
    padding: 5px 10px 30px;
    padding-bottom: 0px;
}
.bl-propzy-1 .title-h2{
    text-align: left;
    margin-bottom: 25px;
    margin-top: 18px;
}
.bl-propzy-1 .p-slogan{
    font-size: 20px;
    margin: 20px 0 40px;
}
.bl-propzy-2{
    position: relative;
    background-color: #fff;
    padding: 5px 0px 40px 10px;
}
.bl-propzy-2 .title-h2{
    text-align: left;
    margin-bottom: 25px;
    margin-top: 18px;
}
.bl-propzy-2 .bl-title .a-readmore, .bl-propzy-project .bl-title .a-readmore{
    padding-right: 10px;
}
.bl-propzy-2 .bl-district img{
    width: 100%;
    border-radius: 6px;
    height: 185px;
}
.bl-propzy-2 .bl-name-district{
    display: block;
}
.bl-propzy-2 .bl-name-district{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    bottom: 0px;
    left: 0;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    padding: 6px 15px;
    font-family: 'Open Sans', sans-serif;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.bl-propzy-3{
    position: relative;
    background-color: #fff;
    padding: 5px 10px 30px;
    padding-bottom: 0px; 
}
.bl-propzy-1 .title-h3{
    text-align: left;
    margin-bottom: 25px;
    margin-top: 18px;
}
.bl-propzy-4{
    position: relative;
    background-color: #1da7e1;
    padding: 5px 10px 20px;
    color: #fff;
    min-height: 420px;
}
.bl-propzy-4 .title-h2{
    font-weight: normal;
    color: #fff;
    margin: 25px 0 20px;
}
.bl-propzy-4 .nav-tabs{
    display: table;
    margin: 35px auto 50px;
    border: 1px solid #fff;
    border-radius: 40px;
}
.bl-propzy-4 .nav-tabs>li{
    float: left;
}
.bl-propzy-4 .nav-tabs>li>a{
    color: #fff;
    font-size: 15px;
    padding: 12px 22px;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    height: 45px;
    margin-right: 0;
}
.bl-propzy-4 .nav-tabs>li.active>a, .bl-propzy-4 .nav-tabs>li.active>a:focus,
.bl-propzy-4 .nav-tabs>li.active>a:hover{
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.35);
    color: #1da7e1;
    pointer-events:none;
    text-decoration: none;
}
.bl-propzy-4 .nav-tabs>li>a:hover, .bl-propzy-4 .nav-tabs>li>a:focus{
    background-color: transparent;
    color: #fff;
    border-radius: 0;
    border: 0;
    padding-top: 13px;
}
.bl-propzy-4 .nav-tabs>li:last-child.active a{
    margin-right: -3px;
}
.bl-propzy-4 .tab-pane{
    text-align: center;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.bl-propzy-4 .tab-pane .icon-svg-new{
    width: 60px;
    height: 50px;
    margin-bottom: 10px;
}
.bl-propzy-4 .tab-pane .ic-1{
    background-position: -595px -497px;
}
.bl-propzy-4 .tab-pane .ic-2{
    background-position: -659px -618px;;
}
.bl-propzy-4 .tab-pane .ic-3{
    background-position: -740px -497px;
}
.bl-propzy-4 .tab-pane .ic-4{
    background-position: -810px -497px;
}
.bl-propzy-4 .tab-pane .ic-5{
    background-position: -878px -497px;
}
.bl-propzy-4 .tab-pane .ic-6{
    background-position: -725px -618px;
}
.bl-propzy-4 .tab-pane .ic-7{
    background-position: -1002px -497px;
}
.bl-propzy-4 .tab-pane .ic-8{
    background-position: -1072px -497px;
}
.bl-propzy-4 .tab-pane .ic-9{
    background-position: -1142px -497px;
}
.bl-propzy-4 .tab-pane .ic-10{
    background-position: -11px -618px;
}
.bl-propzy-4 .tab-pane .ic-11{
    background-position: -88px -618px;
}
.bl-propzy-4 .tab-pane p{
    margin-bottom: 30px;
}
.bl-propzy-4 .tab-pane#buyer p{
    min-height: 40px;
}
.bl-propzy-need{
    position: relative;
    background-color: #fff;
    padding: 5px 0px 10px;
    padding-bottom: 0px;
}
.bl-propzy-need .title-h2{
    color: #363636;
    margin: 20px 0;
}
.bl-propzy-need .p-need{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #363636;
    text-align: center;
}
.bl-propzy-need .p-need-2{
    display: inline-block;
    color: #676767;
    font-size: 16px;
    border-bottom: 1px solid #f17423;
    position: relative;
    margin: 0;
    line-height: 18px;
    cursor: pointer;
}
.bl-propzy-need .p-need-2:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: -30px;
    top: -8px;
    background: url(/assets/images/svg-icons.svg?v=03.06.2019) no-repeat -1005px -811px;
}
.bl-propzy-need .bl-choice{
    background: rgba(245,246,247,.33);
    border-radius: 4px;
    border: 1px solid rgba(218,221,224,.33);
    text-align: center;
    padding: 13px 10px 25px;
    margin: 20px 10px 40px;
}
.bl-choice .nav-tabs{
    border-bottom: 0;
}
.bl-choice .nav-tabs>li{
    float: none;
}
.bl-choice .nav-tabs>li>a{
    height: 46px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #dadde0;
    border-radius: 4px;
    font-size: 17px;
    color: #676767;
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
}
.bl-choice .nav-tabs>li.active>a,.bl-choice .nav-tabs>li.active>a:focus,
.bl-choice .nav-tabs>li.active>a:hover{
    background-color: #173e69;
    border: 0;
    color: #fff;
}
.bl-choice .dropdown-menu{
    padding: 10px 8px;
    border-radius: 0;
    margin-top: 5px;
    width: 100%;
}
.bl-input-choice .row{
    margin: 0 -5px;
}
.bl-input-choice .col-sm-6{
    padding: 0 6px;
}
.bl-input-choice .form-control{
    box-shadow: none;
    height: 38px;
    color: #676767;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}
.bl-input-choice .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #676767;
}
.bl-input-choice .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #676767;
}
.bl-input-choice .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #676767;
}
.bl-input-choice .form-control:-moz-placeholder { /* Firefox 18- */
  color: #676767;
}
.bl-input-choice .btn-read{
    background-color: #f17423;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height: 38px;
    display: inline-block;
    color: #fff;
    border-radius: 40px;
    padding-top: 9px;
}
.bl-choice .nav .open>a, .bl-choice .nav .open>a:focus, .bl-choice .nav .open>a:hover{
    background-color: #fff;
    border: 1px solid #dadde0;
}
.bl-propzy-need .bx-wrapper .bx-prev{
    display: none;
}
.bl-propzy-need .bx-wrapper .bx-next{
    width: 76px;
    height: 76px;
    background: url('/assets/images/version-4/icons/ic-slider-next.png') no-repeat center;
    right: -28px;
    top: 40%;
}

.bl-propzy-5{
    padding: 0px 0px 30px 10px;
    background-color: #fff;
    position: relative;
    font-weight: 500;
    color: #676767;
}
.bl-propzy-5 a{
    color: #676767;
}
.bl-propzy-5 .owl-carousel .owl-item{
    min-height: 145px;
}

.news_scroll_bar{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

.slider-hot-districts, .slider-hot-project{
    display: flex;
    flex-direction: row;
    margin-right: 100px;
}

.slider-hot-districts .item, .slider-hot-project .item{
    position: relative;
    display: block;
    flex: 0 0 78%;
    margin-right: 10px;
}

.bl-propzy-5 .bl-news img{
    width: 110px;
    height: 110px;
    border-radius: 6px;
}
.bl-propzy-5 .title-h2 {
    text-align: left;
    margin-bottom: 25px;
    margin-top: 18px;
}
.bl-propzy-5 .bl-news{
    border: 1px solid #dedede;
    border-radius: 6px;
    padding: 8px 8px 3px 8px;
    box-shadow: 0 3px 7px rgba(195,195,195,.35);
    display: block;
    flex: 0 0 123%;
    margin-right: 10px;
}
.bl-propzy-5 .bl-title .a-readmore {
    padding-right: 10px;
}
.bl-propzy-5 .bl-news .media-body{
    position: relative;
}
.bl-propzy-5 .bl-news .media-body .p-datetime{
    color: #f17423;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: -5px;
}
.bl-propzy-5 .bl-news .media-body .p-title{
    font-size: 18px;
    font-weight: 700;
    color: #363636;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 15px;
    line-height: 21px;
}

.bl-propzy-6{
    padding: 10px 15px 0;
    background-color: #fff;
    position: relative;
}
.bl-propzy-6 .title-h2{
    margin-bottom: -80px;
}

.bl-find-home{
    padding: 10px 0 20px;
    background-color: #173e69;
    position: fixed;
    z-index: 10;
    right: -15px;
    top: 15%;
    overflow-x: hidden;
    transition: 0.5s;
    margin: 20px 15px 0;
    width: 0;
    border-radius: 4px;
}
.bl-find-home .title-find-home{
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 30px 0 10px;
}
.bl-find-home .p-find-home{
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
.bl-find-home .form-control{
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 3px;
    box-shadow: none;
    height: 40px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}
.bl-find-home select.form-control{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('/assets/images/version-4/icons/ic-select.png') no-repeat 96% center transparent;
}
.bl-find-home .row{
    margin: 0 50px;
}
.bl-find-home .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.bl-find-home .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.bl-find-home .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.bl-find-home .form-control:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.bl-find-home .btn-submit-info{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #173e69;
    font-weight: bold;
    background-color: #fff;
    border-radius: 40px;
    width: 270px;
    height: 44px;
    margin: 22px 0 30px;
}
.iframe-video{
    width: 80%;
    height: 174px;
    z-index: 2;
    top: 115px;
    position: relative;
}
.body-video {
    background: url(/assets/modules/mobile-home/images/version-4/img-video.png) no-repeat center;
    height: 340px;
    background-size: 100%;
    background-position-y: 105px;
}
.bl-propzy-1 .row, .bl-propzy-3 .row{
    margin: 0 -10px;
}
.bl-propzy-2 .row{
    margin: 0px;
}
.dropdown-backdrop {
    display: none;
}
#show-district .select2-dropdown {
    z-index: 19;
}
.select2-container--open .select2-dropdown--below {
    box-shadow: 0 5px 7px #ccc;
    border: 1px solid #e3e3e3;
    border-radius: 0;
}
.select2-container--default .select2-results__option[aria-selected=true]{
	background-color: #f0f1f1;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #e8eaeb;
    color: #333;
}
.bl-select-search .select2-container--default .select2-selection--single .select2-selection__clear{
	display: none;
}
.select2-results__option[aria-selected] {
    padding: 12px 20px;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
}

@media(max-width: 375px){
    .bl-search h1{
        font-size: 20px;
    }
}
@media(max-width: 320px){
    .bl-search h1{
        font-size: 20px;
    }
    .bl-select-search .select2-container--default .select2-selection--single .select2-selection__placeholder{
        font-size: 12px;
    }
}
#show-district{
    position: absolute;
    right: 7px;
    top: 0px;
    cursor: pointer;
}
#show-district:after {
    content: '\f107';
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    margin-left: 10px;
    color: #9d9d9d;
    position: absolute;
    right: 60px;
    top: 17px;
}

.slider-scroll::-webkit-scrollbar-track
{
    border-radius: 10px;
    background: url('/assets/images/version-4/bg-shadow.png') repeat-x top left #fff;
}

.slider-scroll::-webkit-scrollbar
{
    width: 5px;
    background-color: rgb(216, 216, 216);
}
.slider-scroll::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgb(216, 216, 216);

}

.dropdown-seach{
    display: none;
    width: 100%;
    position: absolute;
    top: 105%;
    padding: 0;
    box-shadow: rgb(0, 0, 0) 0px 2px 10px -4px;
    background-color: #fff;
    border: 0px solid #eee;
    border-top: 0;
    left: 0px;
    z-index: 10;
    border-radius: 5px;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 254px;
}
.bl-select-option{
    text-align: left;
}
.dropdown-seach .item {
    border-bottom: 1px solid #eee;
    padding: 10px;
    color: #000;
    display: inherit;
    margin: -1px;
}
.dropdown-seach .item:hover, .dropdown-seach .item.active{
    background-color: #fb7533!important;
    color:#fff;
}
input[name="search_text"]{
    border: 0px;
    outline: 0px;
    height: 50px;
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.not-found,.loadding-search{
    padding: 10px;
}
.bl-search .bl-center .p-search{
    text-align: left;
    padding-top: 18px;
}
.bl-search .bl-center .p-search, .bl-search .bl-center .p-search a{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-shadow: 0 3px 7px rgba(0,0,0,1);
}
.bl-search .bl-center .p-search a:hover{
    color: #f17423;
}
.page-mobile.modal-open {
    position: static !important;
}
.banner-marketting.owl-carousel.owl-theme .owl-dots {
    margin-top: -21px;
    position: relative;
}
.bl-monopoly{
    z-index: 0;
}
.bl-search .bl-species{
    padding-top: 6px;
    margin-bottom: 20px;
}
.bl-search .bl-species .btn{
    height: 42px;
    width: 70px;
    border-radius: 6px;
    color: #363636;
    font-weight: 400;
    font-size: 15px;
    border: 0;
    padding: 11px 10px;
}
.bl-search .bl-species .btn.active{
    color: #fff;
    padding-left: 20px;
}
.bl-search .bl-species .btn.active:before{
    top: 16px;
    left: 7px;
}
.bl-propzy-project{
    position: relative;
    background-color: #fff;
    padding: 5px 0px 40px 10px;
}
.bl-propzy-project .bl-project a{
    position: relative;
    display: inline-block;
}
.bl-propzy-project .bl-project img{
    width: 100%;
    border-radius: 6px;
    height: 185px;
}
.bl-propzy-project .bl-name-project{
    display: block;
}
.bl-propzy-project .bl-name-project{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    bottom: 0px;
    left: 0;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    padding: 6px 15px;
    font-family: 'Open Sans', sans-serif;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.for-rent-content{
    padding: 0 10px;
}
.for-rent-content .bl-title a .h3-title {
    color: #363636;
    font-size: 19px;
    font-weight: 700;
    font-family: Roboto,sans-serif;
}
.bl-search .bl-center h2{
    margin-top: 18px;
    line-height: 32px;
}
.bl-search .bl-center .btn-register{
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    background-color: #f17423;
    border-radius: 40px;
    padding: 0px 15px;
    border: 0;
    box-shadow: none;
    display: block;
    margin: 5px auto 0;
    line-height: 30px;
}