@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u4goff');
  src:  url('fonts/icomoon.eot?u4goff#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u4goff') format('truetype'),
    url('fonts/icomoon.woff?u4goff') format('woff'),
    url('fonts/icomoon.svg?u4goff#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bed:before {
  content: "\e92f";
}
.icon-compass:before {
  content: "\e930";
}
.icon-location:before {
  content: "\e931";
}
.icon-tub:before {
  content: "\e936";
}
.icon-like-3:before {
  content: "\e92e";
}
.icon-sort-2:before {
  content: "\e903";
}
.icon-mess:before {
  content: "\e900";
}
.icon-share2:before {
  content: "\e902";
}
.icon-like1:before {
  content: "\e95d";
}
.icon-user2:before {
  content: "\e968";
}
.icon-calculator:before {
  content: "\e95a";
}
.icon-calenda1:before {
  content: "\e95c";
}
.icon-copy:before {
  content: "\e95e";
}
.icon-dnda:before {
  content: "\e963";
}
.icon-download1:before {
  content: "\e964";
}
.icon-i360:before {
  content: "\e965";
}
.icon-instagram1:before {
  content: "\e967";
}
.icon-live-chat:before {
  content: "\e96b";
}
.icon-menu2:before {
  content: "\e96c";
}
.icon-news1:before {
  content: "\e96d";
}
.icon-pin1:before {
  content: "\e96f";
}
.icon-reply:before {
  content: "\e970";
}
.icon-success:before {
  content: "\e971";
}
.icon-menu1:before {
  content: "\e959";
}
.icon-news:before {
  content: "\e95b";
}
.icon-calenda:before {
  content: "\e954";
}
.icon-can-ho:before {
  content: "\e955";
}
.icon-chat:before {
  content: "\e956";
}
.icon-download:before {
  content: "\e957";
}
.icon-du-an:before {
  content: "\e958";
}
.icon-nha:before {
  content: "\e95f";
}
.icon-phone:before {
  content: "\e960";
}
.icon-pin:before {
  content: "\e961";
}
.icon-share1:before {
  content: "\e962";
}
.icon-zalo:before {
  content: "\e966";
}
.icon-clock:before {
  content: "\e90c";
}
.icon-view:before {
  content: "\e953";
}
.icon-sort:before {
  content: "\e90b";
}
.icon-arrow-6:before {
  content: "\e909";
}
.icon-like-1:before {
  content: "\e904";
}
.icon-like:before {
  content: "\e907";
}
.icon-folder:before {
  content: "\e952";
}
.icon-folder-3:before {
  content: "\e951";
}
.icon-folder-2:before {
  content: "\e950";
}
.icon-arrow-1:before {
  content: "\e901";
}
.icon-arrow-3:before {
  content: "\e905";
}
.icon-arrow-4:before {
  content: "\e906";
}
.icon-arrow-9:before {
  content: "\e908";
}
.icon-arrow-2:before {
  content: "\e90a";
}
.icon-arrow-5:before {
  content: "\e90d";
}
.icon-arrows:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-company:before {
  content: "\e910";
}
.icon-company-2:before {
  content: "\e911";
}
.icon-date:before {
  content: "\e912";
}
.icon-date-2:before {
  content: "\e913";
}
.icon-dropbox:before {
  content: "\e914";
}
.icon-edit:before {
  content: "\e915";
}
.icon-edit-2:before {
  content: "\e916";
}
.icon-edit-3:before {
  content: "\e917";
}
.icon-facebook:before {
  content: "\e918";
}
.icon-flickr:before {
  content: "\e919";
}
.icon-google:before {
  content: "\e91a";
}
.icon-google-plus:before {
  content: "\e91b";
}
.icon-google-plus-2:before {
  content: "\e91c";
}
.icon-heart:before {
  content: "\e91d";
}
.icon-home:before {
  content: "\e91e";
}
.icon-home2:before {
  content: "\e91f";
}
.icon-home3:before {
  content: "\e920";
}
.icon-image:before {
  content: "\e921";
}
.icon-instagram:before {
  content: "\e922";
}
.icon-language:before {
  content: "\e923";
}
.icon-linkedin:before {
  content: "\e924";
}
.icon-lock:before {
  content: "\e925";
}
.icon-mail-1:before {
  content: "\e926";
}
.icon-mail-2:before {
  content: "\e927";
}
.icon-mail-3:before {
  content: "\e928";
}
.icon-map:before {
  content: "\e929";
}
.icon-maps:before {
  content: "\e92a";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-minus:before {
  content: "\e92c";
}
.icon-minus-2:before {
  content: "\e92d";
}
.icon-phone-1:before {
  content: "\e932";
}
.icon-phone-2:before {
  content: "\e933";
}
.icon-phone-3:before {
  content: "\e934";
}
.icon-phone-4:before {
  content: "\e935";
}
.icon-play:before {
  content: "\e938";
}
.icon-plus-2:before {
  content: "\e93a";
}
.icon-question:before {
  content: "\e93b";
}
.icon-quote:before {
  content: "\e93c";
}
.icon-search:before {
  content: "\e93d";
}
.icon-search-2:before {
  content: "\e93e";
}
.icon-share:before {
  content: "\e93f";
}
.icon-share-2:before {
  content: "\e940";
}
.icon-skype:before {
  content: "\e941";
}
.icon-smile:before {
  content: "\e942";
}
.icon-spin:before {
  content: "\e943";
}
.icon-star:before {
  content: "\e944";
}
.icon-tag:before {
  content: "\e945";
}
.icon-talk:before {
  content: "\e946";
}
.icon-tick:before {
  content: "\e947";
}
.icon-tumblr:before {
  content: "\e948";
}
.icon-twitter:before {
  content: "\e949";
}
.icon-vimeo:before {
  content: "\e94d";
}
.icon-youtube:before {
  content: "\e94e";
}
.icon-youtube-2:before {
  content: "\e94f";
}
