.detail-infos-agent-page {
    border-top: 1px solid #fff;
    margin-top: -15px;
}
.body-infos-agent {
    margin-top: 40px;
}
.agent-details {
    position: relative;
    padding: 0;
    background-color:#3C8DBC;
}
.agent-details .agent-image {
    position: relative;
    z-index: 1;
    text-align: left;
}
.agent-image img {
    clear: both;
    margin: auto;
    position: relative;
    width: 110px;
    height: 110px;
    z-index: 2;
    top: 15px;
    margin-top: 5px;
}
.update-img{
    z-index: 3;
    position: relative;
    left: 89px;
    top: 58px;
    color: #07e1f6;
}
.agent-name {
    position: relative;
    display: inline-block;
    z-index: 3;
    color: #fff;
    top: 36px;
    left: -80px;
    font-size: 25px;
    font-weight: 300;
}
.area-manage {
    margin-top: 10px;
    color: #949090;
    font-size: 16px;
    margin-left: 195px;
}
.head-detail{
    margin-bottom: 10px;
}
.title-col {
    color: #9999B2;
    margin-top: 10px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 1px !important;
}
.status-agent {
    width: auto;
    border-radius: 3px;
}
.update-infos-contacts-agent{
    width: 550px;
    display: block;
    margin: 0 auto;
}
.img-photo{
    max-width: 100%;
}
.mainPhone {
    padding-left: 0px;
}
.phone-prefer {
    top: -33px;
    left: 100px;
}
.rowMorePhone, .rowMoreEmail {
    margin-top: 10px;
}
.have-phones, .have-emails {
    margin-top: 10px;
}
.update-infos-contacts-agent .modal-footer {
    padding-right: 50px;
}
.status-active, .status-pending, .status-blocked{
    position: relative;
    display: inline-block;
    z-index: 3;
    color: #FF9900;
    top: 90px;
    left: -95px;
    font-size: 17px;
    font-weight: 300;
}
.status-active .fa-circle {
    color: #99FF33;
}
.infos-contents {
    margin-top: 10px;
}
.update-infos-contacts-agent{
    width: 500px;
    display: block;
    margin: 0 auto;
}
.item-new td{
    font-weight: normal !important;
}
.unactivated td{
    font-weight: normal !important;
}
