.tro-giup .bl-banner{
    background: url('/assets/modules/tro-giup/images/banner.png') no-repeat center;
    height: 365px;
    background-size: cover;
    text-align: center;
}
.tro-giup .bl-banner h1{
    font-size: 45px;
    color: #fff;
    font-weight: normal;
    margin: 85px 0 50px; 
}
.tro-giup .nav-tabs{
    border-color: #dcdcdc;
    margin-bottom: 15px;
}
.tro-giup .nav-tabs>li {
    width: 33.33%;
}

.tro-giup .nav-tabs>li>a {
    border: 0;
    color: #333;
    padding: 15px 8px 15px;
    margin-right: 0;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    border-radius: 0;
    font-size: 16px;
    width: 100%;
    position: relative;
    line-height: 30px;
    padding-left: 65px;
}
.tro-giup .nav-tabs>li:last-child>a{
    border-right: 0;
}
.tro-giup .nav-tabs>li>a:after{
    content: '';
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url('/assets/images/iconweb.svg?v=03.06.2019');
    background-position-y: 0;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 12px;
    left: 25px;
}
.tro-giup .nav-tabs>li>a.tab-question:after{
    background-position-x: -840px;
}
.tro-giup .nav-tabs>li>a.tab-post-news:after {
    background-position-x: -870px;
}
.tro-giup .nav-tabs>li>a.tab-customer:after {
    background-position-x: -810px;
}
.tro-giup .nav-tabs>li.active>a, .tro-giup .nav-tabs>li.active>a:focus, .tro-giup .nav-tabs>li.active>a:hover {
    cursor: default;
    background-color: #eee;
    border: none;
}
.tro-giup .nav-tabs>li>a:hover{
    background-color: transparent;
}
.tro-giup .panel-title>a span {
    padding-right: 30px;
    display: inline-block;
}
.tro-giup .panel-body p{
    text-align: justify;
}
.tro-giup .panel-default>.panel-heading {
    background: none;
    padding: 10px 0;
}
.tro-giup .panel-default {
    border: 0;
    border-bottom: 1px solid #dcdcdc;
    padding-top: 14px;
    padding-bottom: 18px;
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0 0 0;
}
.tro-giup .panel-default:last-child{
    border-bottom: 0;
}
.tro-giup .panel-title>a {
    color: #333;
    display: block;
    position: relative;
    font-size: 22px;
}
.tro-giup .panel-title>a[aria-expanded="false"]:after, .tro-giup .panel-title>a[aria-expanded="true"]:after {
	content: '';
    display: inline-block;
    background-image: url('/assets/images/iconweb.svg?v=03.06.2019');
    background-repeat: no-repeat;
    background-position-y: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: -5px;
}
.tro-giup .panel-title>a[aria-expanded="false"]:after {
    background-position-x: -185px;
}
.tro-giup .panel-title>a[aria-expanded="true"]:after {
    background-position-x: -725px;
}
.tro-giup .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0;
    padding: 15px 0 5px;
    color: #666;
}
.bl-banner .bl-select-search{
    position: relative;
    width: 100%;
    display: table;
    margin: 0 auto;
}
.bl-banner .bl-select-search .select2-container--default .select2-selection--single{
    height: 54px;
    border: 0;
}
.bl-banner .bl-select-search .select2-container{
    width: 100% !important;
    text-align: left;
    
}
.bl-banner .bl-select-search .select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 54px;
    font-size: 16px;
    padding: 8px 45px 8px 15px;
    line-height: 38px;
}
.bl-banner .bl-select-search .select2-container--default .select2-selection--single .select2-selection__arrow{
    display: none;
}
.bl-banner .bl-select-search .select2-container--default .select2-selection--single .select2-selection__clear{
    display: none;
}
.bl-banner .bl-select-search .select2-container--default .select2-selection--single .select2-selection__placeholder{
    font-size: 18px;
}
body .select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #e8eaeb;
    color: #333;
}
body .select2-results__option[aria-selected]{
    padding: 12px 20px;
    border-bottom: 1px solid #eaeaea;
    font-size: 18px;
}
body .select2-results__option[aria-selected]:last-child{
    border-bottom: 0;
}
body .select2-container--open .select2-dropdown--below{
    box-shadow: 0 5px 7px #ccc;
    border: 1px solid #e3e3e3;
    border-radius: 0;
}
body .select2-container--default .select2-results__option[aria-selected=true]{
    background-color: #f0f1f1;
}
.bl-banner .bl-select-search .btnsearch {
    height: 30px;
    background-position: -30px 0;
    color: transparent;
    border: 0;
    position: absolute;
    right: 15px;
    top: 12px;
    width: 30px;
    background-color: transparent;
}

#popup-confirm-information .modal-body{
    text-align: center;
    padding-bottom: 50px;
}
#popup-confirm-information .modal-body h1{
    font-size: 32px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 25px;
}
#popup-confirm-information .modal-body p{
    font-size: 18px;
}
#popup-confirm-information .modal-body h3{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 40px;
}
#popup-confirm-information .bl-btn-group .btn{
    font-size: 18px;
    color: #fff;
    padding: 10px 30px 10px 65px;
    margin-right: 10px;
    position: relative;
}
#popup-confirm-information .bl-btn-group .btn:last-child{
    margin-right: 0;
}
#popup-confirm-information .bl-btn-group .btn-gray{
    background-color: #6b6b6b;
}
#popup-confirm-information .bl-btn-group .btn-blue{
    background-color: #164b85;
}
#popup-confirm-information .bl-btn-group .btn-red{
    background-color: #e65656;
}
#popup-confirm-information .bl-btn-group .btn:before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 7px;
    background-repeat: no-repeat;
    background-image: url('/assets/images/iconweb.svg?v=03.06.2019');
    background-position-y: -30px;
}
#popup-confirm-information .bl-btn-group .btn-gray:before{
    background-position-x: -600px;
}
#popup-confirm-information .bl-btn-group .btn-blue:before{
    background-position-x: -570px;
}
#popup-confirm-information .bl-btn-group .btn-red:before{
    background-position-x: -540px;
}
.input-search{
    height: 54px;
}

@media (min-width: 768px){
    #popup-confirm-information .modal-dialog {
        width: 740px;
    }
}